{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row" style=" margin-bottom: 300px; margin-top: 180px">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Авторизация</h3>
        <hr>
        <form action="#" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="Войти">
        </form>
    </div>
</div>

{% endblock %}
