<table class="table">
  <tbody>
    <tr>
      <td>Тип питания</td>
      <td>{{ product.type_of_food }}</td>
    </tr>
      <tr>
      <td>Потребляемая мощность, Вт</td>
      <td>{{ product.power }}</td>
    </tr>
      <tr>
      <td>Бренды</td>
      <td>{{ product.brand }}</td>
    </tr>
      <tr>
      <td>Страна производитель</td>
      <td>{{ product.country_origin }}</td>
    </tr>
      <tr>
      <td>Гарантия</td>
      <td>{{ product.guarantee }}</td>
    </tr>
      <tr>
      <td>Вес,кг</td>
      <td>{{ product.weight }}</td>
    </tr>
  </tbody>
</table>

